.example {
  &.full {
    flex: 0 1 100%;
  }

  &.half {
    flex: 0 1 calc((100% - 48px) / 2);
  }

  &.one-third {
    flex: 0 1 calc((100% - 2 * 48px) / 3);
  }

  .label {
    font-size: 16px;
    line-height: 120%;
    margin: 0 0 12px 0;
  }
}
