<h2 class="label">{{ label() }}</h2>
<div class="description">
  @if (!descriptionIsArray()) {
  <p class="row">{{ description() }}</p>
  } @else { @for (row of description(); track $index) {
  <p class="row">{{ row }}</p>
  } }
</div>
<h3 class="sub-label">Parameter</h3>
<div class="parameters">
  @if (parameters().length === 0) {
  <p class="no-parameters">Keine Parameter</p>
  } @else {
  <table mat-table [dataSource]="parameters()" class="table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="valueRange">
      <th mat-header-cell *matHeaderCellDef>Wertebereich</th>
      <td mat-cell *matCellDef="let element">{{element.valueRange}}</td>
    </ng-container>
    <ng-container matColumnDef="required">
      <th mat-header-cell *matHeaderCellDef>Erforderlich</th>
      <td mat-cell *matCellDef="let element">
        {{element.required ? 'Ja' : 'Nein'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="defaultValue">
      <th mat-header-cell *matHeaderCellDef>Standardwert</th>
      <td mat-cell *matCellDef="let element">
        {{element.defaultValue === undefined ? 'Kein Standardwert' :
        element.defaultValue}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  }
</div>
<h3 class="sub-label">Beispiele</h3>
<div class="examples">
  <ng-content></ng-content>
</div>
